body {
  text-align: left;
  padding: 1em;
  margin: auto;
  max-width: 42em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  lang: "de"
}

button {
  margin: 0.2em
}

.animal {
  width:60%;
  height:auto;
  margin:0em 0em 1em 0em;
}

.guesser {
  margin:1em 0em 0em 0em;
}

.trivia {
  width:85%;
  display: inline-block;
  marin: 0px;
  -webkit-margin-before: 0px;
}

.checkcircle {
  width:1.2em;
  height:auto;
  margin:0.2em 0.5em 0em 0em;
  float:left
}
